html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.home-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
  box-sizing: border-box;
}

.home-text h1 {
  color: #fff;
  font-size: 2.5rem;
  max-width: 420px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/*Navbar*/
.navbar {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

.brand-name {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgba(94, 182, 80, 1)
}


.navbar-center {
  display: flex;
  gap: 40px; 
  justify-content: center; 
  align-items: center; 
  flex: 1; 
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
}


.nav-link:hover {
  color: rgba(94, 182, 80, 1)
}

.navbar-right {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  color: #333;
  padding-right: 20px;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color:rgba(94, 182, 80, 1);
}

/* Testimonials Section */
.testimonials-section {
  background-color: rgba(27, 124, 0, 0.52);
  text-align: center;
  padding: 100px 20px;
  color: #fff;
  font-family: Poppins, sans-serif;
}

.testimonials-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.testimonials-subtitle {
  font-size: 1.2rem;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 1);
}

.testimonials-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color:rgba(255, 255, 255, 1);;
  color: #333;
  border-radius: 12px;
  padding: 30px;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.testimonial-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.stars {
  font-size: 1.3rem;
  color: rgba(27, 124, 0, 1);
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: rgba(29, 41, 63, 1);
}

.testimonial-name {
  font-size: 0.9rem;
  color: rgba(124, 128, 135, 1);
}

.product-card {
  transition: all 0.25s ease;
  cursor: pointer;
}

.product-card .card-body {
  min-height: 150px; /* Adjust until visually perfect */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card:hover { 
  transform: translateY(-5px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.product-card img {
  pointer-events: none;
}